<!DOCTYPE html>
<html lang="en">


<head>
    <title>Tumaini Senior Secondary School | About</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->

    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <!-- /home/yosia/Desktop/Today's_Repo/src/views/clientPartials/headertwo.ejs -->
    <!-- <section>
        <p><h2>Testing mitambo </h2></p>
        <img src="/client/Tuma/photos/1.PNG" alt="here heres">
    </section> -->
    <%- include("../clientPartials/headertwo.ejs") %>
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2> Welcome To <span>Tumaini Senior</span></h2>
                        </div>
                        <p>Dear Parent,

                            We are delighted to have your children at Tumaini Senior Secondary School, to study and get
                            to know the most outstanding school of your children lifetime.

                            Tumaini Senior Secondary School is the most popular school in the Monduli District. Tumaini
                            Senior Secondary School opened its doors to students for the first time in 18<sup>th</sup>January, 2016
                            as a private school under Mr. Modest Bayo.

                            Due to the outstanding performance of students, It is the first school to be inscribed in
                            Monduli. Tumaini Senior Secondary School was recognized as a part of <a href="https://tumainijuniorschool.org">
                            <strong><b>Tumaini Junior School</b></strong></a>
                            School in Karatu. Tumaini Senior Secondary School is the most successful school with a
                            connection of different internal and external schools. We take this opportunity to warmly
                            welcome to Tumaini Senior Secondary School for the good education for your children and is a
                            home of talents. </p>
                    </div>
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2> Welcome NOTE From <span>School Director</span></h2>
                        </div>
                        <p>Thank you for considering Tumaini Senior Secondary School for your child.

                            We are a school with a strong sense of community, where your
                            child will be happy and safe. We encourage every student to aim high and accept no limits.
                            Students are treated as individuals; we recognize and celebrate different abilities and
                            interests and believe that everyone can fulfill their potential through dedication and hard
                            work.

                            Our students are caring, creative and committed young people superbly supported by a
                            dedicated staff team. The School's pastoral system supports academics progress by proving
                            personalized guidance and intervention. Above all it is the hard work energy and humor of
                            students and staff that makes our school such an inspiring learning environment. This
                            prospectus gives just a flavor of our school. I encourage you to visit us in order to gain a
                            real sense of how we work together to ensure that every students leaves Tumaini Senior
                            Secondary School with happy memories, good qualifications, and self-confidence. </p>
                    </div>
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>About <span> Tumaini</span></h2>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="ed-advan">
                            <ul>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="/client/Tuma/images/adv/1.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Mission</h4>
                                        <p>The School mission is to create well disciplined, independent and hardworking
                                            people. God says "For Lack of knowledge my people perish" therefore Tumaini
                                            Senior Secondary School is designed to provide quality and applicable
                                            knowledge, with the aim of better living, minimizing poverty, diseases and
                                            fighting ignorance. .</p>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="/client/Tuma/images/adv/2.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Vision</h4>
                                        <p>The school vision is to create a quality life to all those who attain
                                            education in our school. Education as a tool socially and economically,
                                            practically and globalization and create and independent society. Hence we
                                            prepare students for a positive, productive and responsible life in a
                                            rapidly changing and globalized world. </p>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="/client/Tuma/images/adv/3.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Philosophy</h4>
                                        <p>These are the key characteristics upon which Tumaini Senior Secondary School
                                            is founded individualised attention, Selection Criteria, Ethos and the
                                            curriculum.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="/client/Tuma/images/adv/4.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>Motto</h4>
                                        <p>Yes We can, Together We Excel.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Why Join <span> Tumaini</span></h2>
                        </div>
                        <p>We offer an all-round quality education including Information Communication Technology(ICT),
                            Project Based Learning(PBL) and Science, Technology, Engineering and Mathematics(STEM).
                            We have devoted, caring and vastly experienced teaching staff. We provide on campus medical
                            facilities with visiting doctor's services. Well managed security system for students and
                            their properties.Conducive and homely learning environment for academics excellence with
                            minimum disturbance. </p>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--HEADER SECTION-->
    

    <%- include("../clientPartials/footer.ejs") %>

</body>


</html>