<!DOCTYPE html>
<html lang="en">



<head>
    <title>Tumaini Senior Secondary School | Contact Us</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword" content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    
    <!--END HEADER SECTION-->
    <%- include("../clientPartials/headertwo.ejs") %>



    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Contact<span> Us</span></h2>
                            <p>Ge inTouch with our school and contact us for more clarification.</p>
                        </div>
                    </div>
                    <div class="pg-contact">
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                            <h2>Tumaini <span>High School</span></h2>
                            <p>This among of the best choice of your children success and prepares a great future for your child's life.What to do bring your child now for better performance.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="/client/Tuma/img/contact/1.html" alt="">
                            <h4>Address</h4>
                            <p>P.O.Box 312, karatu.<br>Arusha, Tanzania
                                <br>Landmark : Ngorongoro Road
                                <br>Location : Makuyuni - Monduli Arusha</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="/client/Tuma/img/contact/2.html" alt="">
                            <h4>CONTACT INFO:</h4>
                            <p> Phone:<a href="tel://+255626223381" class="contact-icon"> 0626223381</a>
                                <br> Mobile: <a href="tel://+255767695030" class="contact-icon">0767695030</a>
                                <br> Email: <a href="mail://tumainischoolshr@gmail.com" class="contact-icon">tumainischoolshr@gmail.com</a> </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="/client/Tuma/img/contact/3.html" alt="">
                            <h4>Supporters</h4>
                            <p> <a href="https:www.tanzaniaeducationcorp.org">TEC</a>
                                <br> <a href="https://www.gouldacademy.org">Gould Academy</a>
                                <br> <a href="https://worldleadershipschool.com">World Leadership</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--HEADER SECTION-->
    <%- include("../clientPartials/footer.ejs") %>

   
</body>


</html>