<!DOCTYPE html>
<html lang="en">


<head>
    <title>Tumaini Senior Secondary School | STEM</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- MOBILE MENU -->
    <%- include("../clientPartials/headertwo.ejs") %>
        <!--END HEADER SECTION-->

        <!--SECTION START-->
        <section>
            <div class="container com-sp pad-bot-70 pg-inn">
                <div class="row">
                    <div class="cor">
                        <div class="col-md-6">
                            <div class="cor-mid-img">
                                <img src="/client/Tuma/photos/complab.jpg" alt="">
                            </div>
                            <div class="cor-con-mid">
                                <div class="cor-p1">
                                    <h2>OPERATING EXTRA-CURRICULUM COURSES</h2>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School offers extra-curriculum subjects which includes 
                                        Science,Technology, Engineering and Mathematics (STEM) &
                                        Project Based Learning (PBL) which are taught just as other curriculum subjects.
                                         The courses were introduced by Mr.Frank Lee in Tumaini Senior Secondary 
                                         School back in 2016, for the betterment of the students. 
                                    </p>


                                </div>
                                <div class="cor-p1">
                                    <h3>STEM Course</h3>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School offers <b>Science, Technology, Engineering and
                                            Mathematics (STEM)</b> and <b>Information Communication and Technology</b> which
                                        are taught just as other common subjects. The STEM course was introduced by Franklin
                                        in Tumaini Senior Secondary School for the betterment of the students.

                                    </p>


                                </div>

                                <p>In <b>Science, Technology, Engineering and Mathematics</b>, Students
                                    learn more on technology respectively to solve social problems. Through these, Students
                                    become more competent to solve the technological problems. Students are taught by the
                                    professional teachers from foreign countries. Some of the courses that are taught in
                                    STEM lessons are Website Designing (using HTML, CSS and Javascript),
                                    Web development (using PHP, Nodejs and Python), Make Computer Games and robot
                                    programming.</p>


                                <div class="cor-p1">
                                    <h3>PBL Course</h3>
                                </div>
                                <div class="cor-p4">
                                    <p>In <b>Project Based Learning,</b> students carry out a research
                                         and analyse different challenges faced during their experiments. Project Based 
                                         Learning in Tumaini Senior Secondary School differs in class levels.
                                        For Forms I, II, III, IV, V and VI have different course(s) per year.</p>
                                    <p>In form I, Students learn <b>Graphics Design</b> (how to use pictures and present a message. Also create 
                                        stories from the pictures) example a novel that has only image without words 
                                        and create a story from the pictures.</p>
                                    <p>In form II, The first term, Students learn about <b>Millennium Development Goals (MDGs)</b>
                                        established by the late <b>Kofi Annan</b> in the year 2000 that were to be accomplished 
                                        by the year 2015. Students conduct research on all the 7 goals and present 
                                        their research outcomes before Guests, Parents and Different Media Groups.
                                        </p>
                                    <p>In the second term, Students learn about the <b>Relationship between Maize, Mosquito and
                                        Malaria</b> which was discovered in Ethiopia by DR. James, Students earn the evolution of malaria, species of mosquitoes and the whole cycle towards the disease.</p>
                                    <p>In form III, The first term, Students are taught on <b>Expository 
                                        Writing.</b> How to write an attractive and 
                                        presentable essay through different competition.</p>
                                    <p>In the Second term, Students are taught on <b>Design Thinking (Entrepreneurship)</b> 
                                        how to solve problems facing the society 
                                        and solve whenever Possible.</p>
                                    <p>In form IV, Students learn <b>Community Based Project</b>. Students conduct different projects
                                        of their interests including; <b>Cattle Domestication, Poultry keeping, Fish Pond, Fruit Agriculture, 
                                        Cultural heritage and many others on progress...</b></p>
                                    <p>In Form V, students learn <b>DNA Analysis</b>.In this course students become Compatible in 
                                    analyzing the DNA sample and match their barcode </p>
                                </div>
                                <blockquote>In short, Project Based Learning is modern way of learning which focuses 
                                    on projects. The aim is to simplify learning process making it enjoyable and 
                                    fully participatory especially for students . Also students are fully acquainted 
                                    with Team working skills, Presentation skills, Researching Skills and Interaction 
                                    with Societies.</blockquote>
                                
                                <p>Tumaini Senior Secondary School is among the only schools in Tanzania that teach Project
                                    Based Learning(PBL) and Science, Technology, Engineering and Mathematics(STEM)
                                    Courses, making Tumaini Senior Secondary School being a semi-international school.</p>
                                    <blockquote><strong><b>At the end of Each Course students are provided with Certificates </b></strong></blockquote>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>National Results</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://matokeo.necta.go.tz/results2021/csee/results/s5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Certificate Of Sec.
                                                        Education Examination (CSEE)</h4>
                                                </a>
                                                <a href="https://matokeo.necta.go.tz/results2021/ftna/S5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Form Two National
                                                        Assessment (FTNA)</h4>
                                                </a>
                                                <span>2021</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2020</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2019</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.tanzania.go.tz/FTNA-2018/ftna2018/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2018</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.necta.go.tz/results/2017/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2017</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SECTION END-->

        <!--HEADER SECTION-->
        <%- include("../clientPartials/footer.ejs") %>

</body>


</html>