<!DOCTYPE html>
<html lang="en">


<head>
    <title>Gallery</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/Tumaini.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Our Outlook</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html"> About Us</a></li>
                                <li><a href="academics.html">Acadeemics Curriculum</a></li>
                                <li><a href="courses.html">Courses</a></li>
                                <li><a href="laboratory.html">Labatory</a></li>
                                <li><a href="library.html">Library</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="sports.html">Sports & Games</a></li>
                                <li><a href="partnership.html">Partnership</a></li>
                                <li><a href="services.html">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index-2.html"><img src="images/Tumaini.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                    <li><a href="about.html">About Us</a>
                                </li>
                                <li class="about-menu">
                                    <a href="academics.html" class="mm-arr">Academics</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="academics.html">
                                                            <img src="photos/p9.JPG" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>We are delighted to have your children at Tumaini Senior Secondary School, to study and get to know the most outstanding school of your children lifetime.</p>
                                                    <a href="academics.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                 <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="staff.html">
                                                            <img src="photos/staff.png" alt="">
                                                            <span>Our Staff</span>
                                                        </a>
                                                    </div>
                                                </div>                         
                                                <div class="mm1-com mm1-s2">
                                                    <p>Tumaini Senior Secondary School has a well acquinted staff which are fit enough to raise the performance our students.</p>
                                                    <a href="staff.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Review</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">

                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="courses.html">
                                                            <img src="photos/complab1.jpg" alt="">
                                                            <span>Ongoing Courses</span>
                                                        </a>
                                                    </div>
                                                    <p>The school offers extra subjects which includes Project Based Learning (PBL), Science, Technology, Engineering and Mathematics (STEM) and Information and Communication Technology which are taught as other common subjects. </p>
                                                    <a href="courses.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="laboratory.html">
                                                            <img src="photos/labintro.jpg" alt="">
                                                            <span>Laboratory</span>
                                                        </a>
                                                    </div>
                                                    <p>The Laboratories are mostly acquainted on practical and theoretical activities. This helps during the carrying out of the experiment which have all qualities of a good laboratory.</p>
                                                    <a href="laboratory.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="library.html">
                                                            <img src="photos/talent.jpg" alt="">
                                                            <span> Library</span>
                                                        </a>
                                                    </div>
                                                    <p>The school is made up of two library for student to logout the books. These includes the educational book library and Story books library which are separated from each other.</p>
                                                    <a href="library.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="projects.html">
                                                            <img src="photos/p12.JPG" alt="">
                                                            <span>Projects</span>
                                                        </a>
                                                    </div>
                                                    <p>The school runs different project, which includes a piece of planned work or an activity which is finished over a period of time and intended to achieve a particular aim which help the students in one way or the other.</p>
                                                    <a href="projects.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="sports.html">Sports and games</a>
                                </li>
                                <li><a href="partnership.html">Partnership</a>
                                </li>
                                <li><a href="services.html">Services</a>
                                </li>
                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search for topics to review">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html"> About Us</a></li>
                                <li><a href="academics.html">Academics Curriculum</a></li>
                                <li><a href="courses.html">Courses</a></li>
                                <li><a href="laboratory.html">Labatory</a></li>
                                <li><a href="library.html">Library</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="sports.html">Sports & Games</a></li>
                                <li><a href="partnership.html">Partnership</a></li>
                                <li><a href="services.html">Services</a></li>                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Read More">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
    
    

   
   <section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>Photo Gallery</h1>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                    <div class="event-head-sub">
                        <ul>
                            <li>Photos: College</li>
                            <li>Total photos: 500</li>
                            <li>Location: Illunois</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    
    <!--SECTION START-->
    <section>
        <div class="ed-res-bg">
        <div class="container com-sp pad-bot-70 ed-res-bg">
            <div class="row">
                <div class="cor about-sp h-gal ed-pho-gal">
                    <ul>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/8.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/9.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/10.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/11.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/1.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/2.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/3.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/4.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/5.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/6.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/7.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions" src="images/ami/8.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--SECTION END-->

    
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row">
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="index.html.html">About Tumaini</a></li>
                        <li><a href="staff.html">Staff Members</a></li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Review Up</h4>
                    <ul>
                        <li><a href="courses.html">Ongoing Courses</a></li>
                        <li><a href="laboratory.html">Laboratories</a></li>
                        <li><a href="library.html">Libraries</a></li>
                        <li><a href="projects.html">Taken Projects</a></li>
                        <li><a href="sports.html">Sports and Games</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Get Into Us</h4>
                    <ul>
                        <li><a href="partnership.html">Partnership</a>
                        </li>
                        <li><a href="contact-us.html">Contact us</a>
                        </li>
                        <li><a href="services.html">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: P.O.Box 312, Makuyuni. Arusha, Tanzania</p>
                    <p>Phone: <a href="#!">: 0767 695 030 & 0754 317 394</a></p>
                    <p>Email: <a href="#!">tumainiseniorsec@gmail.com</a></p>
                </div>
               
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="https://web.facebook.com/Tumaini-Senior-Secondary-School-104647831575366"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        </li>
                        <li><a href="https://www.google.com/maps/place/Tumaini+Senior+Secondary+School/@-3.5450898,36.1029986,50m/data=!3m1!1e3!4m5!3m4!1s0x18368811aaaaaaab:0x7d60f4f749cfd6b2!8m2!3d-3.5451022!4d36.1030636"><i class="fa fa-google" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCqj4rxa3rUnULhxHy4aDKLQ"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/invites/contact/?i=zv369w60sp72&utm_content=kv03wt8"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>

                 <div class="col-md-4">
                    <h4>RECOMMENDATION</h4>
                    <h5 style="color:orange;">BE NUMBER ONE CHOISE FOR YOUR CHILDREN PERFORMANCE. YOU ARE ALL WELCOME.</h5>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--HEADER SECTION-->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   Designed by <a target="_blank" href="https://continentaljuniors.com">Fred Faustine</a>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="https://web.facebook.com/Tumaini-Senior-Secondary-School-104647831575366" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.google.com/maps/place/Tumaini+Senior+Secondary+School/@-3.5450898,36.1029986,50m/data=!3m1!1e3!4m5!3m4!1s0x18368811aaaaaaab:0x7d60f4f749cfd6b2!8m2!3d-3.5451022!4d36.1030636" class="gp1"><i class="fa fa-google" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.instagram.com/invites/contact/?i=zv369w60sp72&utm_content=kv03wt8" class="tw1"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.youtube.com/channel/UCqj4rxa3rUnULhxHy4aDKLQ" class="gp1"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>