<!DOCTYPE html>
<html lang="en">


<head>
    <title>Tumaini Senior Secondary School | STEM</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- MOBILE MENU -->
    <%- include("../clientPartials/headertwo.ejs") %>
        <!--END HEADER SECTION-->

        <!--SECTION START-->
        <section>
            <div class="container com-sp pad-bot-70 pg-inn">
                <div class="row">
                    <div class="cor">
                        <div class="col-md-6">
                            <div class="cor-mid-img">
                                <img src="/client/Tuma/photos/complab.jpg" alt="">
                            </div>
                            <div class="cor-con-mid">
                                <div class="cor-p1">
                                    <h2>STEM Courses</h2>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School offers <b>Science, Technology, Engineering and
                                            Mathematics (STEM)</b> and Information and Communication Technology which
                                        are taught as other common subjects. The STEM course was introduced by Franklin
                                        in Tumaini Senior Secondary School for the betterment of the students.

                                    </p>


                                </div>

                                <p>In <b>Science, Technology, Engineering and Mathematics</b>, Students are taught to
                                    use technology respectively to solve social problems. Through Computers, Students
                                    are taught on how to solve the technological problems. Students are taught by the
                                    professional teachers from foreign countries. Some of the course that are taught in
                                    STEM lessons are Website Designing by the use of HTML, Make Computer Games and robot
                                    programming.</p>

                                <p>Tumaini Senior Secondary School is the only school in Tanzania that teaches Project
                                    Based Learning(PBL) and Science, Technology, Engineering and Mathematics(STEM)
                                    Course, that's is why among of the international schools, We are proud of our
                                    school, Welcome.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>National Results</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://matokeo.necta.go.tz/results2021/csee/results/s5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Certificate Of Sec.
                                                        Education Examination (CSEE)</h4>
                                                </a>
                                                <a href="https://matokeo.necta.go.tz/results2021/ftna/S5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Form Two National
                                                        Assessment (FTNA)</h4>
                                                </a>
                                                <span>2021</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2020</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2019</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.tanzania.go.tz/FTNA-2018/ftna2018/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2018</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.necta.go.tz/results/2017/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2017</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SECTION END-->

        <!--HEADER SECTION-->
        <%- include("../clientPartials/footer.ejs") %>

</body>


</html>