<section class="wed-hom-footer">
    <div class="container">
        <div class="row">
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="/home">About Tumaini</a></li>
                        <li><a href="/staffs">Staff Members</a></li>
                        <li><a href="/updates">News & Updates</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Review Up</h4>
                    <ul>
                        <li><a href="/course">Ongoing Courses</a></li>
                        <li><a href="/laboratory">Laboratories</a></li>
                        <li><a href="/library">Libraries</a></li>
                        <li><a href="/projects">Taken Projects</a></li>
                        <li><a href="/sport">Sports and Games</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Get Into Us</h4>
                    <ul>
                        <li><a href="/partnership">Partnership</a>
                        </li>
                        <li><a href="/contact">Contact us</a>
                        </li>
                        <li><a href="/service">Services</a>
                        </li>
                        <li><a href="/login"><b>Admin Login</b></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: P.O.Box 312, Karatu. Arusha, Tanzania<br>
                       Location: <a href="https://www.google.com/maps/place/Tumaini+Senior+Secondary+School/@-3.5450898,36.1029986,50m/data=!3m1!1e3!4m5!3m4!1s0x18368811aaaaaaab:0x7d60f4f749cfd6b2!8m2!3d-3.5451022!4d36.1030636">
                        Makuyuni. Arusha - Tanzania</a></p>
                    <p>Phone: <a href="tel://+255626223381">0626223381</a> & <a href="tel://+255767695030">0767695030</a></p>
                    <p>Email: <a href="mail://tumainischoolshr@gmail.com">tumainischoolshr@gmail.com</a></p>
                </div>

                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="https://web.facebook.com/profile.php?id=100072757028325"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        </li>
                        <li><a
                                href="https://www.google.com/maps/place/Tumaini+Senior+Secondary+School/@-3.5450898,36.1029986,50m/data=!3m1!1e3!4m5!3m4!1s0x18368811aaaaaaab:0x7d60f4f749cfd6b2!8m2!3d-3.5451022!4d36.1030636"><i
                                    class="fa fa-google" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/results?search_query=tumaini+senior+secondary+school"><i class="fa fa-youtube"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/tumainiseniorsec_makuyuni/?hl=en"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://wa.me/255624620795?text=I%20got%20you%20via%20your%20Website%" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>FEEL FREE TO CONTACT US AT ANY TIME</h4>
                    <h5 style="color:orange;">BE NUMBER ONE CHOISE FOR YOUR CHILDREN PERFORMANCE. YOU ARE ALL WELCOME.
                    </h5>
                </div>
            </div>
        </div>
</section>
<!--END HEADER SECTION-->

<!--HEADER SECTION-->
<section class="wed-rights">
    <div class="container">
        <div class="row">
            <div class="copy-right">
                Designed by:<a target="_blank" href="http://continentaljuniors.com"> Continental Juniors</a>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
<section>
    <div class="icon-float">
        <ul>
            <li><a href="https://web.facebook.com/profile.php?id=100072757028325" class="fb1"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a> </li>
            <li><a href="https://www.google.com/maps/place/Tumaini+Senior+Secondary+School/@-3.5450898,36.1029986,50m/data=!3m1!1e3!4m5!3m4!1s0x18368811aaaaaaab:0x7d60f4f749cfd6b2!8m2!3d-3.5451022!4d36.1030636"
                    class="gp1"><i class="fa fa-google" aria-hidden="true"></i></a> </li>
            <li><a href="https://www.instagram.com/tumainiseniorsec_makuyuni/?hl=en" class="tw1"><i
                        class="fa fa-instagram" aria-hidden="true"></i></a> </li>
            <li><a href="https://wa.me/255624620795?text=I%20got%20you%20via%20your%20Website%" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
            <li><a href="https://www.youtube.com/results?search_query=tumaini+senior+secondary+school" class="gp1"><i class="fa fa-youtube"
                        aria-hidden="true"></i></a> </li>
        </ul>
    </div>
</section>

<!--Import jQuery before materialize.js-->
<script src="/client/Tuma/js/main.min.js"></script>
<script src="/client/Tuma/js/bootstrap.min.js"></script>
<script src="/client/Tuma/js/materialize.min.js"></script>
<script src="/client/Tuma/js/custom.js"></script>