<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a href="/home"><img src="/client/Tuma/images/Tumaini.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>Our Outlook</h4>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/about"> About Us</a></li>
                            <li><a href="/academic">Academics Curriculum</a></li>
                            <li><a href="/course">Courses</a></li>
                            <li><a href="/laboratory">Laboratory</a></li>
                            <li><a href="/library">Library</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/sport">Sports & Games</a></li>
                            <li><a href="/partnership">Partnership</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/service">Services</a></li>
                            <li><a href="https://tumainischools.shulesoft.com">shulesoft</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--HEADER SECTION-->
<section>
    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="200">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="/home"><img src="/client/Tuma/images/Tumaini.png" alt="" />
                        </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="/home">Home</a>
                            <li><a href="/about">About Us</a>
                            </li>
                            <li class="about-menu">
                                <a href="/academic" class="mm-arr">Academics</a>
                                <!-- MEGA MENU 1 -->
                                <div class="mm-pos">
                                    <div class="about-mm m-menu">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay menu-about" href="/academic">
                                                        <img src="/client/Tuma/photos/p9.JPG" alt="">
                                                        <span>Academics</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mm1-com mm1-s2">
                                                <p>We are delighted to have your children at Tumaini Senior Secondary
                                                    School, to study and get to know the most outstanding school of your
                                                    children lifetime.</p>
                                                <a href="/academic" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay menu-about" href="/staffs">
                                                        <img src="/client/Tuma/photos/staff.png" alt="">
                                                        <span>Our Staff</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mm1-com mm1-s2">
                                                <p>Tumaini Senior Secondary School has a well acquainted staff which are
                                                    fit enough to raise the performance our students.</p>
                                                <a href="/staffs" class="mm-r-m-btn">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="admi-menu">
                                <a href="#" class="mm-arr">Review</a>
                                <!-- MEGA MENU 1 -->
                                <div class="mm-pos">
                                    <div class="admi-mm m-menu">
                                        <div class="m-menu-inn">

                                            <div class="mm2-com mm1-com mm1-s4">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="/course">
                                                        <img src="/client/Tuma/photos/complab1.jpg" alt="">
                                                        <span>Ongoing Courses</span>
                                                    </a>
                                                </div>
                                                <p>The school offers extra subjects which includes Project Based
                                                    Learning (PBL), Science, Technology, Engineering and Mathematics
                                                    (STEM) and Information and Communication Technology which are taught
                                                    as other common subjects. </p>
                                                <a href="/course" class="mm-r-m-btn">Read more</a>
                                            </div>

                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="/laboratory">
                                                        <img src="/client/Tuma/photos/labintro.jpg" alt="">
                                                        <span>Laboratory</span>
                                                    </a>
                                                </div>
                                                <p>The Laboratories are mostly acquainted on practical and theoretical
                                                    activities. This helps during the carrying out of the experiment
                                                    which have all qualities of a good laboratory.</p>
                                                <a href="/laboratory" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="/library">
                                                        <img src="/client/Tuma/photos/talent.jpg" alt="">
                                                        <span> Library</span>
                                                    </a>
                                                </div>
                                                <p>The school is made up of two library for student to logout the books.
                                                    These includes the educational book library and Story books library
                                                    which are separated from each other.</p>
                                                <a href="/library" class="mm-r-m-btn">Read more</a>
                                            </div>
                                            <div class="mm2-com mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay" href="#">
                                                        <img src="/client/Tuma/photos/p12.JPG" alt="">
                                                        <span>Projects</span>
                                                    </a>
                                                </div>
                                                <p>The school runs different project, which includes a piece of planned
                                                    work or an activity which is finished over a period of time and
                                                    intended to achieve a particular aim which help the students in one
                                                    way or the other.</p>
                                                <a href="#" class="mm-r-m-btn">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li><a href="/sport">Sports</a>
                            </li>
                            <li><a href="/partnership">Partnership</a>
                            </li>
                            <li><a href="/service">Services</a>
                            </li>
                            <li><a href="/contacts">Contact</a>

                            </li>
                            <li><a href="https://tumainischools.shulesoft.com">shulesoft</a></li>
                        </ul>
                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>
    <div class="search-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-form">
                        <form>
                            <div class="sf-type">
                                <div class="sf-input">
                                    <input type="text" id="sf-box" placeholder="Search for topics to review">
                                </div>
                                <div class="sf-list">
                                    <ul>
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/about"> About Us</a></li>
                                        <li><a href="/academic">Academics Curriculum</a></li>
                                        <li><a href="/course">Courses</a></li>
                                        <li><a href="/laboratory">Laboratory</a></li>
                                        <li><a href="/library">Library</a></li>
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="/sport">Sports & Games</a></li>
                                        <li><a href="/partnership">Partnership</a></li>
                                        <li><a href="/service">Services</a></li>
                                        <li><a href="/gallery">Gallery</a></li>
                                        <li><a href="https://tumainischools.shulesoft.com">Login to shulesoft</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sf-submit">
                                <input type="submit" value="Read More">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>